.reviewItems{
   border-radius: 15px  ;
   -webkit-border-radius: 15px  ;
   -moz-border-radius: 15px  ;
   -ms-border-radius: 15px  ;
   -o-border-radius: 15px  ;
   background: rgba(42, 42, 42, 0.9);
   box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.379), inset -5px -5px 10px rgba(0, 0, 0, 0.379);
   padding: 10px;
   color: white;
   
}

.reviewItems .review-profile{
   margin: 0 auto;
   border: 5px solid #fff;
}

.singleReviewContainer{
   margin-top: 40px;
}